<h1>New Sections</h1>


<form method="post" action="/sections/<%= @section.id %>">
  <input type="hidden" name="_method" value="patch">
  <label for="name">Name</label>
  <input id="name" name="name" type="text" value="<%= @section.name %>">
  <label for="number">Number</label>
  <input id="number" name="number" type="integer" value = "<%= @section.number %>">
  <button>Create</button>
<form>
